<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <style>
        p{
        font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>My Contacts</h1>
    <p><b>Phone:</b> (55) 99999-9999</p>
    <p><b>Email:</b> tuyweber@gmail.com</p>
    <p><b>Github: </b><a href="https://github.com/UdyWeber" target="_blank">github.com/UdyWeber</a></p>
    <p><b>Twitter: </b><a href="https://twitter.com/UdyrCadeirante" target="_blank">twitter.com/UdyrCadeirante</a></p>
</body>
</html>